/*header menu*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    align-items: center;
    padding: 2rem;
}
.lightblue{
    background-color: #0084fd;
    height: 75px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.square-between{
    display: flex;
    justify-content: space-between;
}
.mobile-tablet{
    width: 40%;
    height: 35px;
    text-align: right;
}
.fa-bars{
    padding: 6px 0;
    color: white;
    font-size: 20px;
}
.desktop{
    display: none;
    width: 40%;
    height: 35px;
}
.logo{
    width: 30%;
    height: 35px;
}
/* demo application */
.white{
    padding: 2rem;
}
.col-100{
    width: 100%;
}
.square-wrap{
    display: flex;
    flex-wrap: wrap;
}
.height-605{
    background-color: #b5ddff;
    border-radius: 25px;
    margin: 15px 0;
    padding: 35px 45px 0px 45px;
}
.ico{
    color: #0084fd;
}
.col-37{
    padding: 30px 0;
    line-height: 1.8;
}
.store{
    color: white;
    padding: 10px 60px;
    width: 70%;
    background-color: #0084fd;
    border-radius: 25px;
    letter-spacing: 0.5vw;
}
.phone{
    width: 100%;
    margin-top: 2rem;
    display: block;
}
.height-360{
    background-color: #b5ddff;
    border-radius: 25px;
    margin: 15px 0;
    padding: 35px 50px;
    text-align: center;
    line-height: 1.8;
}
.icona{
    font-size: 100px;
    color: #0084fd;
}
.code{
    margin: 25px 0;
    color: #0084fd;
}
/*STRATEGIC, APP*/
.purple{
    background-color: #9792e4;
}
.height-1400{
    padding: 4rem 2rem 2rem;
}
.planning1{
    width: 100%;
}
.plan{
    color: white;
    margin: 30px 0;
}
.strategic-plan{
    line-height: 1.5;
    color: white;
}
.app-devel{
    background-color: white;
    margin: 30px 0;
    border-radius: 50px;
    text-align: center;
    padding: 30px 20px 0;
}
.planning2{
    width: 100%;
}
.develop{
    margin: 20px;
}
.interruption{
    line-height: 1.7;
    margin: 10px;
}
.fa-arrow-down{
    border-radius: 50%;
    padding: 15px;
    margin: 25px 0;
}
/*COMMITTED PARTNERS*/
.height-320,
.height-510{
    margin: 30px 0;
}
.height-320{
    text-align: center;
    padding: 0 80px;
}
.expert{
    color: #9792e4;
    margin: 25px 0;
}
.testimonials{
    line-height: 1.5;
    margin-bottom: 30px;
    position: relative;
}
.height-510{
    border-radius: 25px;
    margin: 30px 0;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}
.testimonial1{
    width: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 20px;
}
.nome{
    margin-top: 30px;
    letter-spacing: 0.5vw;
    font-weight: 900
}
.virgo{
    position: relative;
    bottom: 3px;
    margin: 0 5px;
}
/*WORKING WITH US*/
.purple-2{
    height: 900px;
}
.height-120{
    margin: 30px 0;
}
.title{
    color: white;
    font-size: 49px;
    text-align: center;
}
.height-400{
    background-color: white;
    margin: 20px 0;
    border-radius: 25px;
    padding: 2rem;
    line-height: 1.8;
}
.number{
    color: #9792e4;
    font-size: 50px;
    margin: -20px 0px;
}
.button{
    width: 50%;
    background-color: #9792e4;
    text-align: center;
    border-radius: 25px;
    color: white;
    margin-top: 1.5rem;
    letter-spacing: 0.5vw;
}
/*ABOUT US*/
.height-1600{
    padding: 3rem 2rem;
}
.height-1015{
    padding: 0 1rem;
    line-height: 1.8;
}
.pd-40{
    padding: 40px 0;
}
.height-440{
    margin: 10px 0;
    padding: 0 1rem;
}
.about{
    position: relative;
}
.pu-quo{
    position: absolute;
    top: 5px;
    font-size: 65px;
    left: 150px;
    color: #9792e4;
}
.companies{
    font-size: 34px;
}
.linkedin{
    width: 50%;
    background-color: #9792e4;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
}
/*FREE*/
.height-620{
    padding: 4rem 2rem;
}
.center{
    display: flex;
    justify-content: center;
}
.height-500{
    text-align: center;
    padding: 0.5rem;
}
.star{
    color: #cbc9f1;
    padding-bottom: 1.5rem;
}
.trans{
   color: white;
}
.free{
    color: #fdc15f;
    font-size: 50px;
    margin: 30px 0;
}
.ted{
    background-color: white;
    width: 80%;
    color: #9792e4;
    margin: 30px auto;
    padding: 10px 0;
}
.height-500 ul{
    display: inline;
    color: white;
}
.copy{
    margin-left: 40px;
}
.tablet-desktop{
    display: none;
}
li:nth-child(4),
li:first-child{
    list-style-type: none;
}
li{
    margin: 0 13px;
    font-weight: bolder;
    letter-spacing: -0.5px;
    float: left;
}
li:nth-child(4){
    margin: 0 170px;
}

/*footer*/
.gray{
    background-color: #333333;
}
.height-240{
    padding: 2.5rem;
}
.height-100{
    color: white;
}
.pad-b{
    margin-bottom: 50px;
}
.lorem{
    color: #9792e4;
}
/*************************************
RESPONSIVE
*************************************/
@media screen and (min-width:768px) {
    /*demo application*/
    .white {
        margin: 2rem 0;
    }
    .square-wrap .col-100:first-child{
        width: calc(100%/3*2);
    }
    .square-wrap .col-100{
        width: calc(100%/3);
    }
    .height-605,
    .height-360 {
        margin: 10px;
    }
    .height-737{
        height: 737.4px;
    }
    .height-360{
        padding: 2rem 1rem;
    }
    /*STRATEGIC AND APP*/
    .height-1400 {
        padding: 5.5rem 2rem 2rem;
      }
    .plan{
        font-size: 60px;
    }
    /*COMMITTED PARTNERS*/
    .height-2170{
        height: 1340px;
    }
    .height-510{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .expert{
        font-size: 34px;
    }
    .testimonial1{
        width: 30%;
    }
    .testimonial1,
    .nome{
        margin: 0;
    }
    .nome{
        position: absolute;
        bottom: 55px;
        left: 235px;
    }
    .testimo{
        width: 70%;
        text-align: left;
        padding: 2rem 1rem;
    }
    /*WORKING WITH US*/
    .height-2830{
        padding: 2rem 1rem;
    }
    .fo-s-25{
        font-size: 25px;
        margin: 25px 0;
    }
    .number{
        font-size: 60px;
    }
    .height-2830 .container .square-wrap .col-100:first-child{
        width: 100%;
    }
    .height-2830 .container .square-wrap .col-100 {
        width: 50%;
    }
    .height-120,
    .height-400{
        margin: 20px;
    }
    /*ABOUT US*/
    .d-row{
        display: flex;
    }
    .d-row .col-100:first-child{
        width: 55%;
    }
    .mar-b{
        margin: 0 0 20px;
        font-size: 60px;
    }
    .d-row .col-100{
        width: 45%;
    }
    .height-1015,
    .height-440{
        margin: 10px;
    }
    .height-440{
        padding: 2rem 3rem;
    }
    .wid-90{
        width: 90%;
    }
    /*FREE*/
    .companies{
        font-size: 27px;
    }
    .pad-110{
        padding: 0 110px;
    }
    .fos-45{
        font-size: 45px;
    }
    .free{
        font-size: 80px;
    }
    .ted{
        width: 35%;
        padding: 20px 0;
    }
    .copy {
        margin-left: 150px;
    }
    .mobile{
        display: none;
    }
    .tablet-desktop{
        display: list-item;
    }
    /*footer*/
    .height-100{
        width: 57%;
        text-align: center;
    }
}
@media  screen and (min-width: 1160px){
    /*header menu*/
    .mobile-tablet{
        display: none;
    }
    .desktop{
        display: block;
    }
    .container{
        width: 800px;
    }
    /*demo application*/
    .white{
        height: 870px;
        margin: 0;
    }
    .height-605,
    .height-360{
        height: 350px;
    }
    /*STRATEGIC AND APP*/
    .height-1400{
        height: 925px;
    }
    .d-flex{
        align-items: flex-end;
    }
    .d-flex .col-100:first-child{
        width: 60%;
    }
    .d-flex .col-100{
        width: 40%;
    }
    .strategic-plan{
        height: 750px;
    }
    .app-devel{
        height: 355px;
    }
    /*COMMITTED PARTNERS*/
    .height-2170{
        height: 1340px;
    }
    .height-510{
        height: 280px;
    }
    /*WORKING WITH US*/
    .height-2830{
        height: 1120px;
    }
    .height-2830 .container .square-wrap .col-100:nth-child(n+2){
        width: calc(100%/3);
    }
    .height-400{
        height: 420px;
    }
    /*ABOUT US*/
    .height-1600{
        height: 880px;
    }
    .height-1015{
        height: 760px;
    }
    .height-440{
        height: 580px;
    }
    /*FREE*/
    .height-620{
        height: 630px;
    }
    /*footer*/
    .height-240{
        height: 230px;
    }
}